<%= render 'layouts/header' %>
<div id="page-container">
    <div class="container mt-2" id="content-wrap">
        <%= link_to "", groups_path, class:'fa-solid fa-arrow-left arrow'%>
        <div class="d-flex justify-content-between align-items-center border p-3 gap-5 mt-4 mb-4">
            <%= image_tag @group.icon, alt: 'icon', class: 'thumbnail' %>
            <div class="d-flex align-items-center justify-content-center gap-2">
                <h4>Total Money Spent :</h4>
                <b class="display-4"><%= @group.sum %>$</b>
            </div>
        </div>
        <div class="row mb-5 mt-5">
            <% @expenses.each do |expense| %>
                <div class="col-12">
                    <div class="card mt-3 mb-3">
                        <div class="card-body d-flex flex-row justify-content-between align-items-center">
                            <div class="d-flex flex-row justify-content-center align-items-center gap-5">
                                <div class="align-items-center">
                                    <h4><%= expense.name %></h4>
                                    <p><%= (expense.created_at).to_fs(:short) %></p>
                                </div>
                            </div>
                            <p class='display-4'><%= (expense.amount).to_i %>$</p>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
<div class="new-bar">
    <%= link_to "New Transaction" ,new_group_expense_path(@group.id) %>
</div>
</div>